<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Layout Dashboard</title>
</head>
<body>

    <table border="1" width="100%" cellpadding="10" cellspacing="0">
        
        <tr>
            <td colspan="2">
                [Phần Header: Tên trường và Username]
            </td>
        </tr>

        <tr height="400"> 
            
            <td width="25%" valign="top">
                [Phần Menu: Dashboard, Topic, Student...]
            </td>
            
            <td width="75%" valign="top">
                [Phần Nội dung: CV Sinh viên]
            </td>
            
        </tr>

        <tr>
            <td colspan="2" align="center">
                [Phần Footer: ©2025 by ...]
            </td>
        </tr>

    </table>

</body>
</html>