<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách Sinh viên</title>
    <th:block th:replace="~{fragments :: head_css}"></th:block>
</head>
<body>

    <div th:replace="~{fragments :: header_fragment}"></div>

    <div class="main-wrapper">
        
        <div th:replace="~{fragments :: sidebar_fragment}"></div>

        <main class="content">
            <h2>Student - List</h2>
            <table class="table-topic">
                <thead>
                    <tr>
                        <th>Mã SV (id)</th>
                        <th>Họ và Tên (name)</th>
                        <th>Lớp (groupId)</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="sv : ${dsStudent}">
                        <td th:text="${sv.id}"></td>
                        <td th:text="${sv.name}"></td>
                        <td th:text="${sv.groupId}"></td>
                        <td class="action-links" align="center">
                            <a th:href="@{/student/view/{id}(id=${sv.id})}">[view]</a> 
                            <a th:href="@{/student/edit/{id}(id=${sv.id})}">[edit]</a> 
                            <a th:href="@{/student/delete/{id}(id=${sv.id})}">[delete]</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>

    </div>

    <div th:replace="~{fragments :: footer_fragment}"></div>

</body>
</html>