<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Danh sách Topic</title>
    <th:block th:replace="~{fragments :: head_css}"></th:block>
</head>
<body>

    <div th:replace="~{fragments :: header_fragment}"></div>

    <div class="main-wrapper">
        
        <div th:replace="~{fragments :: sidebar_fragment}"></div>

        <main class="content">
            <h2>Topic - List</h2>
            <table class="table-topic">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>topicName</th>
                        <th>supervisorId</th>
                        <th>topicType</th>
                        <th style="text-align: center;">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="t : ${dsTopic}">
                        <td th:text="${t.id}"></td>
                        <td th:text="${t.topicName}"></td>
                        <td th:text="${t.supervisorId}"></td>
                        <td th:text="${t.topicType}"></td>
                        <td class="action-links" align="center">
                            <a th:href="@{/topic/view/{id}(id=${t.id})}">[view]</a> 
                            <a th:href="@{/topic/edit/{id}(id=${t.id})}">[edit]</a> 
                            <a th:href="@{/topic/delete/{id}(id=${t.id})}">[delete]</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </main>

    </div>

    <div th:replace="~{fragments :: footer_fragment}"></div>

</body>
</html>