<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm mới Topic</title>
    <th:block th:replace="~{fragments :: head_css}"></th:block>
</head>
<body>

    <div th:replace="~{fragments :: header_fragment}"></div>

    <div class="main-wrapper">
        
        <div th:replace="~{fragments :: sidebar_fragment}"></div>

        <main class="content">
            <h2>Thêm mới Topic</h2>
            <br>
            
            <form action="/topic/save" method="post" th:object="${topic}">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" th:field="*{id}" required placeholder="Nhập mã topic (VD: T04)">
                </div>
                
                <div class="form-group">
                    <label>Tên Topic (topicName):</label>
                    <input type="text" th:field="*{topicName}" required placeholder="Nhập tên đề tài...">
                </div>
                
                <div class="form-group">
                    <label>Mã GV hướng dẫn (supervisorId):</label>
                    <input type="text" th:field="*{supervisorId}">
                </div>
                
                <div class="form-group">
                    <label>Loại Topic (topicType):</label>
                    <input type="text" th:field="*{topicType}">
                </div>
                
                <div class="form-group">
                    <label>Mô tả (topicDescription):</label>
                    <input type="text" th:field="*{topicDescription}">
                </div>
                
                <button type="submit" class="btn-submit">Lưu Topic Mới</button>
            </form>
        </main>

    </div>

    <div th:replace="~{fragments :: footer_fragment}"></div>

</body>
</html>